# vim: ft=bash

PROJECT_ROOT="$(expand_path .)"

# renovate: datasource=crate depName=cargo-insta versioning=cargo
CARGO_INSTA_VERSION='=1.17.2'

export CARGO_HOME="${PROJECT_ROOT}/.local/share/cargo"
export RUSTUP_HOME="${PROJECT_ROOT}/.local/share/rustup"
export RUST_BACKTRACE=1

PATH_add "${CARGO_HOME}/bin"

rustup show >/dev/null

has cargo-insta && [[ "$(cargo insta --version)" == "cargo-insta ${CARGO_INSTA_VERSION#=}" ]] \
  || cargo install --locked cargo-insta --version "${CARGO_INSTA_VERSION}"
