[package]
name = "automatic-timezoned"
description = "Automatically update system timezone based on location"
version = "1.0.46"
edition = "2021"
repository = "https://github.com/maxbrunet/automatic-timezoned"
license = "GPL-3.0"
keywords = ["dbus", "geoclue", "systemd", "timezone", "zoneinfo"]

[dependencies]
csv = { version = "=1.1.6", default-features = false }
env_logger = { version = "=0.10.0", default-features = false }
geo = { version = "=0.23.0", default-features = false }
log = { version = "=0.4.17", default-features = false }
zbus = { version = "=3.5.0", default-features = false, features = ["async-io"] }
zvariant = { version = "=3.9.0", default-features = false }

[dependencies.clap]
version = "=4.0.29"
default-features = false
features = [
  "derive",
  "env",
  "error-context",
  "help",
  "std",
  "usage",
]

[dev-dependencies]
insta = "=1.22.0"
trycmd = "=0.14.5"

[profile.release]
lto = true
codegen-units = 1
