[package]
name = "automatic-timezoned"
description = "Automatically update system timezone based on location"
version = "1.0.12"
edition = "2021"
repository = "https://github.com/maxbrunet/automatic-timezoned"
license = "GPL-3.0"
keywords = ["dbus", "geoclue", "systemd", "timezone", "zoneinfo"]

[dependencies]
clap = { version = "=3.2.21", features = ["derive", "env"] }
csv = "=1.1.6"
env_logger = "=0.9.0"
geo = "=0.23.0"
log = "=0.4.17"
zbus = "=3.1.0"
zvariant = "=3.6.0"

[dev-dependencies]
insta = "=1.19.1"

[profile.release]
lto = true
codegen-units = 1
