# vim: ft=systemd
[Unit]
Description=Automatically update system timezone based on location
Requires=geoclue.service
After=geoclue.service

[Service]
User=SOME_USER
ExecStart=automatic-timezoned

[Install]
WantedBy=default.target
